html,body{
    height: 100%;
    background-color: #F3F3F3;
    font-size: 1rem;
    font-family: Helvetica,"Helvetica Neue",Arial,sans-serif;
    letter-spacing: 0;
    word-wrap: break-word;
}
*{
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#photo_box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#photo_box>div{
    padding: 15px;
    height: 100vh;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}
#photo_box>div>div{
    height: 100%;
    position: relative;
}
#photo_box>div>div>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #CCC;
    text-align: center;
    z-index: 1;
}
