<!DOCTYPE html>
<html>
<title>Wrong</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
.mySlides {display:none;}
</style>

<style>
div1 {
  position: absolute;
  margin: 25px 80px 150px 450px;

}


</style>


<style>
div2 {
  position: absolute;
  margin: 25px 100px 150px 100px;

}
</style>



<style>
div3 {
  position: absolute;
  margin: 25px 100px 150px 100px;

}
</style>
<body>
{% include 'includes/_navbar.html' %}
<h2 class="w3-center">Question about COVID-19 virus</h2>


<div class="w3-container">


    <div class="w3-panel w3-card"><p>not good enough!</p></div>
 <div class="w3-panel w3-card"><p>explaination :88</p></div>



</div>

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script>

</body>
</html>